<div class="w-full py-6 px-3">
  <div class="border bg-white shadow-lg rounded-ld overflow-hidden">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="h-80 overflow-hidden">
          <img
            src="{{ product.featured_image | img_url: '1024x1024' }}"
            srcset="
              {{ product.featured_image | img_url: '360x360' }} 360w,
              {{ product.featured_image | img_url: '720x720' }} 720w,
              {{ product.featured_image | img_url: '1024x1024' }} 1024w
            "
            sizes="(max-width: 640px) 100vw, 50vw"
            alt="{{ product.featured_image.alt }}"
            width="1024"
            height="1024"
            class="w-full h-auto object-cover transition duration-1000 ease-in-out hover:scale-105 transform"
            loading="lazy"
          >
        </div>
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>

    <div class="flex flex-col p-4">
      {% if section.settings.display_vendor %}
        <span class="text-sm text-gray-400">{{ product.vendor }}</span>
      {% endif %}
      <a class="text-gray-700 uppercase font-medium" href="{{ product.url }}">{{ product.title }}</a>
      <p class="text-gray-500">{{ product.price | money }}</p>
    </div>
  </div>
</div>
