{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="relative bg-white" x-data="{ mobileMenuOpen: false, searchBarOpen: false }" x-cloak>
  <div class="mx-auto sm:px-3">
    <div class="flex justify-between items-center py-6 px-4 md:justify-start md:space-x-10 border-b">
      <button
        type="button"
        class="md:hidden mobile-nav-button cursor-pointer bg-white p-2 inline-flex items-center justify-center focus:outline-none"
      >
        {% render 'icon-menu' %}
      </button>
      <!-- STORE NAME / STORE LOGO -->
      <h1 class="md:hidden text-xl font-bold absolute left-1/2 text-center -translate-x-1/2">
        {{ shop.name }}
      </h1>
      <div class="hidden md:flex md:ml-1 md:justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>

      <!-- Mobile menu button -->
      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <a
          href="{{ routes.cart_url}}"
          class="js-cart-btn whitespace-nowrap text-gray-500 hover:text-gray-900 relative inline-block mr-3"
        >
          {% render 'icon-shopping-bag' %}
          {% if cart.item_count > 0 %}
            <span
              style="font-size: 10px;"
              class="cart-count absolute -top-2 -right-2 bg-red-500 text-white font-bold h-5 w-5 p-1 rounded-full flex items-center justify-center"
            >
              {{- cart.item_count -}}
            </span>
          {% endif %}
        </a>
        <button
          x-on:click="searchBarOpen = true"
          type="button"
          class="whitespace-nowrap text-gray-500 hover:text-gray-900"
        >
          {% render 'icon-search' %}
        </button>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class="hidden md:flex space-x-10">
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            <div class="relative" x-data="{ open: false }">
              <button
                x-on:click="open = !open"
                type="button"
                class="inline-flex items-center text-base text-gray-500 hover:text-gray-900"
              >
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </button>

              <div
                x-show="open"
                x-cloak
                @click.away="open = false"
                class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
              >
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100">
                        <div class="ml-4">
                          <p class="text-gray-900 text-base font-medium">{{ childlink.title }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="relative">
              <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </nav>

      <!-- Cart and Account Links -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <button
          x-on:click="searchBarOpen = true"
          type="button"
          class="whitespace-nowrap text-gray-500 hover:text-gray-900"
        >
          {% render 'icon-search' %}
        </button>
        <a
          href="{{ routes.cart_url}}"
          class="js-cart-btn2 whitespace-nowrap text-gray-500 hover:text-gray-900 relative inline-block"
        >
          {% render 'icon-shopping-bag' %}
          {% if cart.item_count > 0 %}
            <span
              style="font-size: 10px;"
              class="cart-count absolute -top-2 -right-2 bg-red-500 text-white font-bold h-5 w-5 p-1 rounded-full flex items-center justify-center"
            >
              {{- cart.item_count -}}
            </span>
          {% endif %}
        </a>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">Account</a>
            {{
              'Log out'
              | customer_logout_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
          {% else %}
            {{
              'Log in'
              | customer_login_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
            {{
              'Register'
              | customer_register_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
          {% endif %}
        {% endif %}
      </div>

      <!-- MOBILE MENU -->
      <div class="mobile-nav-div w-full h-full bg-opacity-50 bg-gray-800 fixed inset-0 z-50 opacity-0 pointer-events-none transition-opacity duration-300">
        <div class="mobile-nav max-w-[70vw] h-full bg-white relative left-0 top-0 -translate-x-full transition-transform duration-300">
          <div class="p-5 divide-y-2 divide-gray-50">
            <!-- MOBILE MENU HEADER TITLE -->
            <div class="flex items-center justify-between pb-3">
              <div>
                <h1 class="text-lg font-bold text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
              </div>
              <div class="-mr-2">
                <button type="button" class="bg-white rounded-md p-2 text-gray-500">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="flex flex-col gap-y-6 pt-4">
              {% for link in main_menu_linklist %}
                {% if link.links != blank %}
                  <button class="w-full flex items-center">
                    <a href="#" class="underline text-gray-800 inline-flex items-center gap-1">
                      {{ link.title }}
                      <span class="inline-block plus-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                          <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                        </svg>
                      </span>
                    </a>

                    <div class="sublink-nav flex flex-col pt-7 pl-5 gap-y-5 items-start max-w-[70vw] w-full h-full bg-white absolute z-50 left-0 top-0 -translate-x-full transition-transform duration-300">
                      <div class="flex justify-between w-full pr-4 mb-4">
                        <span class="minus-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="size-6"
                          >
                            <path fill-rule="evenodd" d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z" clip-rule="evenodd" />
                          </svg>
                        </span>

                        <span class="close-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                          </svg>
                        </span>
                      </div>
                      <div class="flex flex-col gap-y-6">
                        {% for childlink in link.links %}
                          <a href="{{ childlink.url }}" class="underline text-gray-800">{{ childlink.title }}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </button>
                {% else %}
                  <button class="w-full flex items-center">
                    <a href="{{ link.url }}" class="underline text-gray-800">{{ link.title }}</a>
                  </button>
                {% endif %}
              {% endfor %}

              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <button class="w-full flex items-center">
                    <a href="{{ routes.account_url }}" class="underline text-gray-800">Account</a>
                  </button>
                  <button class="w-full flex items-center">
                    {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="underline text-gray-800"' }}
                  </button>
                {% else %}
                  <button class="w-full flex items-center">
                    {{ 'Log in' | customer_login_link | replace: '<a', '<a class="underline text-gray-800"' }}
                  </button>
                  <button class="w-full flex items-center">
                    {{ 'Register' | customer_register_link | replace: '<a', '<a class="underline text-gray-800"' }}
                  </button>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} SEARCH BAR {% endcomment %}
  <div x-show="searchBarOpen" class="w-full absolute top-0 bg-white border">
    <button type="button" x-on:click="searchBarOpen = false" class="absolute top-0 right-0 mr-5 mt-5 text-gray-500">
      {% render 'icon-close' %}
    </button>
    <div class="h-40 flex justify-center items-center">
      <form class="flex-auto" method="get" action="{{ routes.search_url }}">
        <div class="relative text-gray-500 px-10 border">
          <input
            type="search"
            name="q"
            placeholder="Search"
            class="w-full bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
          >
          <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-20">
            {% render 'icon-search' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "label": "Title",
      "default": "Menu",
      "info": "This is the title for the mobile menu window"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu",
      "default": "main-menu",
      "info": "This is the title for the menu"
    }
  ]
}
{% endschema %}
